.indicator-container{
    width: 100%;
    min-height: 40px;
    background-color: $bg-light-gray;
    border-radius: 70px;

    .indicator--dynamic{
        min-height: 40px;
        border-radius: 70px;
        background-color: #24C1FD;
        position: relative;
        display: flex;
        align-items: center;
        transition: all .4s ease;

        .indicator--value{
            position: absolute;
            left: 0;
            margin: auto;
            margin-left: 10px;
            color: $clrP-white;
        }
    }
}