@import './typography';

.m-button{
    border-radius: $border-radius;
    border: 1px solid transparent;
    font-size: 0.9em;
    font-weight: 600;
    font-family: 'Nunito';
    padding: 7px 12px;
    box-sizing: border-box;
    text-transform: capitalize;
    min-width: 100px;
    transition: $transition;
    cursor: pointer;

    &:disabled {
        cursor: not-allowed;
    }

    &-turquese{
        background-color: $clrP-turquese;
        color: $clrP-white;
    }

    &-orange{
        background-color: $clrP-orange;
        color: $clrP-white;
    }
}