@import './typography';

.m-button{
    border-radius: $border-radius;
    border: 1px solid transparent;
    font-size: 1em;
    font-weight: 600;
    font-family: 'Nunito';
    padding: 7px 12px;
    box-sizing: border-box;
    text-transform: capitalize;
    min-width: 100px;
    transition: all 300ms ease-in;
    cursor: pointer;

    &:disabled {
        cursor: not-allowed;
    }

    &-esmerald{
        background-color: $clrP-esmerald;
        color: $clrP-white;
    }

    &-azure{
        background-color: $clrP-azure;
        color: $clrP-white;
    }

    &-long{
        margin: 0 10px;
        width: 100%;
    }

    &-flex{
        min-width: 120px;
        display: flex;
        flex-flow: row nowrap;
        box-sizing: border-box;
        justify-content: space-between;
        align-items: center;
    }
}