@import './typography';

.m-general-container{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;    
    min-height: 100%;
}

.m-container{
    width: 100%;
    min-height: 200px;
    padding: 10px 20px;
    box-sizing: border-box; 
    
    .m-container-row{
        width: 100%;
        margin: 5px 0;
        min-height: 200px;
        display: flex;
        
        .m-container-column{
            width: 100%;
            box-sizing: border-box;
            margin: 10px 15px; 
            min-height: 100%;
        }
    }
}


.m-container-anormal{
    div.m-container-column:nth-child(1){
        width: 65%;
    }

    div.m-container-column:nth-child(2){
        width: 35%;
    }
}

.m-container-item--column{
    width: 100%;
    padding: 3px 7px;
    margin-bottom: 8px;
    @include FlexBox(column);
    align-items: flex-start;
    position: relative;
}
.m-container-item--column--mini{
    @extend .m-container-item--column;
    max-width: 20%;
}
.m-container-item--column--medium{
    @extend .m-container-item--column;
    max-width: 30%;
}

.m-container-item--row{
    width: 100%;
    padding: 3px 25px;
    margin-bottom: 8px;
    @include FlexBox(row);
    justify-content: space-between;
    align-items: flex-end;
}
.minify-padding{
    padding: 3px 8px;
}
.m-container-item--row--center{
    @extend .m-container-item--row;
    justify-content: space-around;
}
.m-container-item--col-row{
    @extend .m-container-item--row;
    justify-content: flex-end;
    padding: 0;
    margin: 0;

    .m-container-item--column{
        width: auto;
        margin: 0px 10px 8px;
    }
}

.m-container-item{
    width: 100%;
    min-height: 70px;
    padding: 5px 0;
    background-color: $bg-light-gray;
    border-radius: $border-radius;
    margin-bottom: 17px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border: $border-solid-gray;

}
    .m-container-item--status{
        width: 15%;
        height: 100%;
        display: flex;
        justify-content: center;
        font-size: 35px;

        &--hight{
            color: $clrS-hight;
        }
        &--medium{
            color: $clrS-medium;
        }
        &--lower{
            color: $clrS-lower;
        }

        &__title{
            margin-right: 10px;
            font-family: 'Questrial';
            font-weight: 600;
            font-size: 18px;
            letter-spacing: 0.3px;
            justify-self: flex-start;
        }
    }

    .m-container-item--info{
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;

        &--column{
            width: 50%;
            min-height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        &__item{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: baseline;
            justify-content: center;
            
            &__title{
                font-family: 'Questrial';
                font-weight: 600;
                font-size: 1.1em;
                letter-spacing: 0.3px;
            }
            &__value{
                font-family: 'Questrial';
                font-weight: 400;
                font-size: .8em;
                margin-left: 45px;
                letter-spacing: 0.3px;
                color: $clrP-gray;
            }
        }

        .centered-content{
            align-items: center;
        }
    }

    .m-container-item--value{
        width: 15%;
        height: 100%;
        display: flex;
        flex-direction: column;

        &--row{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
        }

        &__title{
            font-family: 'Questrial';
            font-weight: 600;
            font-size: 1.1em;
            letter-spacing: 0.3px;
            margin: auto;
        }
        &__value{
            font-family: 'Questrial';
            font-weight: 400;
            font-size: 0.77em;
            margin-left: 8px;
            justify-self: flex-end;
            letter-spacing: 0.5px;
            color: $clrP-gray;
        }
        &__end{
            margin: 0 auto;
            position: relative;
            right: 25px;
        }
        &__mini{
            font-weight: 600;
            font-size: 0.77em;
            margin-left: 10px;
        }
    }

    .m-container-item--actions{
        width: 20%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 0 35px;

        &--column{
            width: auto;
            height: 100%;
            margin: 5px;
            display: flex;
            flex-direction: row;
            font-size: 1.2em;
            color: $clrP-black;

            svg{
                cursor: pointer;
                transition: all 100ms ease-in;

                &:hover{
                    transform: scale(1.3);
                }
            }
        }
        &__title{
            font-family: 'Questrial';
            font-weight: 600;
            font-size: 1.1em;
            letter-spacing: 0.3px;
            text-align: center;
        }
    }

.m-head-container{
    width: 100%;
    min-height: 200px;
    padding: 10px 35px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    
    &-card{
        min-width: 580px;
        min-height: 100%;
        padding: 10px 15px;
        border-radius: $border-radius;
        background-color: $bg-card;
        box-shadow: $shadow-gray;
        border: $border-solid-gray;
        display: flex;
        flex-direction: column;
    }
}
.form-control{
    min-height: 65vh;

    .m-head-container-card{
        justify-content: space-around;
    }
}
.simple-column{
    margin: 0;
    padding: 0px 8px;
}
.simple-column-right{
    align-items: flex-start;
}
.simple-column-left{
    align-items: flex-end;
}
.column-underline{
    border-bottom: 1px dashed $clrP-darkGray;
}

div, body{
    &::-webkit-scrollbar-thumb{
        width: 100%;
        background-color: $clrP-darkGray;
        border-radius: 25px;
    }
    
    &::-webkit-scrollbar{
        width: 13px;
        background-color: $bg-light-gray;
    }
}