input[type="text"].custom-form, input[type="password"].custom-form{
    width: 100%;
    padding: 5px 10px;
    border-radius: $border-radius;
    font-size: 0.8em;
    font-family: 'Nunito';
    outline: none;
    border: $border-input-gray;
    color: $clrP-black;
}

.mini-input{
    max-width: 20%;
}