input[type="text"].custom-form, input[type="password"].custom-form{
    width: 100%;
    padding: 5px 10px;
    border-radius: $border-radius;
    font-size: 0.8em;
    font-family: 'Nunito';
    outline: none;
    border: $border-input-gray;
    color: $clrP-black;
    transition: border 200ms ease-in;

    &::placeholder{
        color: lighten($clrP-gray, 25%);
        font-family: 'Questrial';
        font-weight: 400;
        letter-spacing: 0.2px;
        font-size: 1.1em;
    }

    &:disabled{
        cursor: not-allowed;
        background-color: $clrS-gray;
        &::placeholder{
            color: lighten($clrP-gray, 20%);
        }
    }

    &:focus{
        border: 1px solid $clrS-blue;
    }
}

.special-check{
    min-height: 80px;
}

.v-select.vs--single.vs--searchable{
    font-family: 'Nunito';
    font-weight: 400;
    font-size: 0.8em;

    .vs__dropdown-toggle{
        padding: 0px;
        color: $clrP-black;
        border: 1px solid #cccc;
        height: 30px;
        border-radius: 8px;
    }

    .vs__search{
        color: lighten($clrP-gray, 25%);
        font-family: 'Questrial';
        font-weight: 400;
        letter-spacing: 0.2px;
        font-size: 1.1em;
        margin: 0px;
    }
}
