select{
    width: 100%;
    padding: 5px 10px;
    border-radius: $border-radius;
    font-size: 0.8em;
    font-family: 'Nunito';
    outline: none;
    border: $border-input-gray;
    color: lighten($clrP-gray, 25%);
    transition: border 200ms ease-in;

    &::placeholder{
        color: lighten($clrP-gray, 25%);
        font-family: 'Questrial';
        font-weight: 400;
        letter-spacing: 0.2px;
        font-size: 1.1em;
    }

    &:disabled{
        cursor: not-allowed;
        background-color: $clrS-gray;
        &::placeholder{
            color: lighten($clrP-gray, 20%);
        }
    }

    &:focus{
        border: 1px solid $clrS-blue;
    }
}

select::-ms-expand{
    display: none;
}