.m-title{
    font-size: 1.1em;
    font-family: 'Nunito';
    font-weight: 600;
    letter-spacing: 0.7px;
    line-height: 28px;
}

.m-title-big{
    font-size: 1.3em;
    font-family: 'Questrial';
    font-weight: 600;
    letter-spacing: 0.7px;
    line-height: 28px;
}

.m-value-light {
    font-size: 0.8em;
    font-family: 'Nunito';
    font-weight: 400;
    letter-spacing: 0.4px;
    line-height: 25px;
}

.m-value-bolder {
    font-size: 0.8em;
    font-family: 'Nunito';
    font-weight: 600;
    letter-spacing: 0.4px;
    line-height: 25px;
}

.m-value-paragraph{
    font-size: 0.8em;
    font-family: 'Questrial';
    font-weight: 400;
    letter-spacing: 0.4px;
    line-height: 25px;
}

.m-label{
    font-family: 'Nunito';
    font-weight: 600;
    font-weight: bold;
}

.m-link{
    width: 120px;
    font-family: 'Questrial';
    font-weight: 400;
    font-size: 1em;
    text-align: center;
}

.m-error{
    color: $clrS-lower;
    font-size: 0.6em;
    font-family: 'Nunito';
    letter-spacing: 0.3px;
    font-weight: 400;
    position: absolute;
    min-width: 280px;
    bottom: -15px;
}

.m-mini-paragraph{
    font-size: 0.75em;
}

.m-link-active{
    color: $clrP-esmerald !important;
    position: relative;

    &:hover{
        color: darken($clrP-esmerald, 15%);

        &::before{
            background-color: darken($clrP-esmerald, 15%);
        }
    }

    &::before{
        content: '';
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        background-color: $clrP-esmerald;
    }
}
