.m-title{
    font-size: 1.1em;
    font-family: 'Nunito';
    font-weight: 600;
    letter-spacing: 0.7px;
    line-height: 28px;
}

.m-value-light {
    font-size: 0.8em;
    font-family: 'Nunito';
    font-weight: 400;
    letter-spacing: 0.4px;
    line-height: 25px;
}

.m-value-bolder {
    font-size: 0.8em;
    font-family: 'Nunito';
    font-weight: 600;
    letter-spacing: 0.4px;
    line-height: 25px;
}

.m-value-paragraph{
    font-size: 0.8em;
    font-family: 'Questrial';
    font-weight: 400;
    letter-spacing: 0.4px;
    line-height: 25px;
}

.m-label{
    font-family: 'Nunito';
    font-weight: 600;
    font-weight: bold;
}