.m-general-container{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;    
    min-height: 100%;
}

.m-container{
    width: 100%;
    min-height: 200px;
    padding: 10px 20px;
    box-sizing: border-box; 
    
    .m-container-row{
        width: 100%;
        margin: 5px 0;
        min-height: 200px;
        display: flex;
        
        .m-container-column{
            width: 100%;
            box-sizing: border-box;
            margin: 10px 15px; 
            min-height: 100%;
        }
    }
}

.icons-category{
    font-size: 1.4em;
    margin-left: 5px;

    span{
        margin: 0 7px;
    }
    svg{
        color: $clrP-white;
        border-radius: 100%;
        padding: 4px;
        min-width: 26px;
        min-height: 24px;
    }

}
.long-icon{
    width: 35px;

    svg {
        padding: 7px;
        min-width: 50px;
        min-height: 45px;
        box-shadow: 0px 3px 4px $clrP-black;
        font-size: 35px;
    }
}
.icons-category--long{
    svg{
        padding: 7px;
        min-width: 55px;
        box-shadow: 0px 3px 4px $clrP-black;
        font-size: 35px;
    }
}

.icons-category--medium{
    @extend .icons-category;
    span{
        margin: 0 7px;
    }
    svg{
        color: $clrP-white;
        border-radius: 100%;
        padding: 5px;
        min-width: 26px;
        max-width: 26px;
        max-height: 26px;
        min-height: 26px;
    }
}

.m-container-anormal{
    div.m-container-column:nth-child(1){
        width: 70%;
    }

    div.m-container-column:nth-child(2){
        width: 30%;
    }
}

.container-item__column{
    width: 100%;
    padding: 3px 7px;
    margin-bottom: 8px;
    @include FlexBox(column);
    align-items: flex-start;
    position: relative;
}
.container-item__column--mini{
    @extend .container-item__column;
    max-width: 20%;
}
.container-item__column--medium{
    @extend .container-item__column;
    max-width: 30%;
}

.container-item__row{
    width: 100%;
    padding: 3px 25px;
    margin-bottom: 8px;
    @include FlexBox(row);
    justify-content: space-between;
}
.container-item__row--center{
    @extend .container-item__row;
    justify-content: space-around;
}
.container-item__col-row{
    @extend .container-item__row;
    min-height: 30px;
    justify-content: flex-end;
    padding: 0;
    margin: 0;

    .container-item__column{
        width: auto;
        margin: 0px 10px 8px;
    }
}

.m-head-container{
    width: 100%;
    min-height: 200px;
    padding: 10px 35px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    
    &-card{
        min-width: 580px;
        min-height: 100%;
        padding: 10px 15px;
        border-radius: $border-radius;
        background-color: $bg-card;
        box-shadow: $shadow-gray;
        border: $border-solid-gray;
        display: flex;
        flex-direction: column;
    }
}
.form-control{
    min-height: 65vh;

    .m-head-container-card{
        justify-content: space-around;
    }
}
.icons-container--toggle{
    overflow-x: hidden;
    position: relative;
    box-shadow: $shadow-gray;
    border: $border-solid-gray;
    border-radius: 8px;
    transition: all .4s ease;
}

div, body, span{
    &::-webkit-scrollbar-thumb{
        width: 100%;
        background-color: $clrP-darkGray;
        border-radius: 25px;
    }
    
    &::-webkit-scrollbar{
        width: 13px;
        background-color: $bg-light-gray;
    }
}