.footer-container{
    margin-top: 30px;
    padding: 30px 100px 0;
    background-color: $clrP-black;
    font-family: 'Nunito';
    display: flex;
    flex-direction: column;

    &-row{
        height: 100%;
        width: 100%;
        margin: 10px 0;
        display: flex;

        .copyright-container{
            width: 100%;
            color: $clrP-darkGray;
            text-align: center;
            font-size: 0.8em;
            position: relative;
            top: -5px;
        }
    }
    .footer-vertical-separator{
        min-height: 80%;
        width: 2px;
        background-color: $clrP-darkGray;
    }
    &-column{
        min-height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        color: $clrP-white !important;

        i{
            font-size: 2.5em;
        }
    }
    .footer-networks {
        width: 50%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
    }
    .m-title{
        margin: 0 25px;
    }
    .izqPanel{
        margin-left: 40px;
        align-items: flex-start !important;
        .m-paragraph-light{
            color: $clrP-white;
            font-family: 'Nunito';
            font-size: 1.1em;
            letter-spacing: 1px;
            width: 80%;
        }
    }
    .derPanel{
        width: 100%;
        align-items: center !important;

        .m-social-networks{
            display: flex;
            justify-content: space-around;

            span{
                margin: 0px 15px;
                font-size: 1em;
                display: flex;
                align-items: center;
            }
        }
    }

    .footer-horizontal-separator{
        min-width: 100%;
        height: 2px;
        background-color: $clrP-darkGray;
    }

    .copyright-container{
        margin: 5px 0px;
    }

}