.header-container{
    width: 100%;
    min-height: 70px;
    background-color: transparent;
    padding: 4px 10px;

    display: flex;
    flex: 1;
    position: sticky;;
    top: 0;
    background-color: $bg-white;
    z-index: 2;


    &-column{
        width: 100%;
        min-height: 100%;
        @include FlexBox(row);
        flex: 1;
        justify-content: space-evenly;

        .m-link-container{
            height: 100%;
            display: flex;
            align-items: center;
            color: $clrP-black;
        }
    }
    &-row{
        width: 100%;
        min-height: 100%;
        @include FlexBox(row);
        flex: 1;
        justify-content: space-evenly;

        .m-link-container{
            height: 100%;
            display: flex;
            align-items: center;
            color: $clrP-black;
        }
    }

    .separator{
        height: 60%;
        width: 2px;
        background-color: $clrP-black;
        color: transparent;
        font-family: 'Nunito';
        font-weight: 400;
    }

    .toogle-content{
        transform: translateX(280px);
    }

    .toogle-activador{
        font-size: 1.4em;
        width: 50px;
        height: 38px;
        text-align: center;
        font-family: 'Nunito';
        font-weight: 400;
        @include FlexBox(row);
        justify-content: flex-end;
        box-sizing: content-box;
        padding-right: 50px;
        background-color: $bg-white;
        z-index: 3;

        
        svg{
            padding: 4px;
            border-radius: 100%;
            border: 2px solid $clrP-black;
            transition: all 500ms ease-in;
            
            &:hover{
                transform: rotate(180deg);
            }
        }
    }
    .toogle-activador:hover + .toogle-content{
        background-color: red;
        transform: translateX(0px);
    }
}