$bg-white: #FAFAFA;
$bg-card: #FFFFFF;
$bg-light-gray: #ececec;
$bg-light-blue: #F3F5FD;
$bg-gray: #EDEDED;

$clrP-esmerald: #26C196;
$clrP-azure: #739AFF;
$clrP-pink: #FB7185;
$clrP-black: #545454;
$clrP-white: #FAFAFA;
$clrP-gray: #757575;
$clrP-darkGray: #9398a2;

$clrS-hight: #13DB7C;
$clrS-medium: #FFDA56;
$clrS-lower: #FD4D52;
$clrS-blue: #0facf3;
$clrS-gray: #ebebe4;

$bdrP-gray: #f5f5f5;

$shadow-gray: 0px 5px 15px #cccccc;

$border-radius: 8px;
$border-solid-gray: 1px solid $bdrP-gray;
$border-input-gray: 1px solid #cccc;

$transition: all 300ms ease-in;
