@import './fonts/fonts';

$bg-white: #FAFAFA;
$bg-card: #FFFFFF;
$bg-light-gray: #ececec;

$clrP-esmerald: #25DB86;
$clrP-orange: #ff935c;
$clrP-black: #545454;
$clrP-white: #FAFAFA;
$clrP-gray: #757575;
$clrP-darkGray: #9398a2;

$clrS-hight: #13DB7C;
$clrS-medium: #FFDA56;
$clrS-lower: #FD4D52;
$clrS-blue: #0facf3;
$clrS-gray: #ebebe4;

$bdrP-gray: #f5f5f5;

$shadow-gray: 0px 5px 15px #e6e6e6;

$border-radius: 8px;
$border-solid-gray: 1px solid $bdrP-gray;
$border-input-gray: 1px solid #cccc;

$transition: all 300ms ease-in;

.space-around{
    min-height: 100%;
    display: flex;
    flex: 1;
    flex-flow: column nowrap;
    justify-content: space-around;
}

.relative{
    position: relative;
}
.fixed{
    position: sticky;
    top: 0;
    background-color: $bg-white;
}

.is-valid{
    input{
        border: 1px solid $clrS-lower;
    }
}