.m-title{
    font-size: 1.1em;
    font-family: 'Nunito';
    font-weight: 600;
    letter-spacing: 0.7px;
    line-height: 28px;
}

.m-title-big{
    font-size: 1.3em;
    font-family: 'Questrial';
    font-weight: 600;
    letter-spacing: 0.7px;
    line-height: 28px;
}

.m-value-light {
    font-size: 0.8em;
    font-family: 'Nunito';
    font-weight: 400;
    letter-spacing: 0.4px;
    line-height: 25px;
}

.m-value-bolder {
    font-size: 0.8em;
    font-family: 'Nunito';
    font-weight: 600;
    letter-spacing: 0.4px;
    line-height: 25px;
}

.m-value-paragraph{
    font-size: 0.8em;
    font-family: 'Questrial';
    font-weight: 400;
    letter-spacing: 0.4px;
    line-height: 25px;
}

.m-label{
    font-family: 'Nunito';
    font-weight: 600;
    font-weight: bold;
}

.m-link{
    font-family: 'Questrial';
    font-weight: 400;
    font-size: 1em;
    text-align: center;
    color: $clrP-azure;
    cursor: pointer;

    &--special{
        width: 100%;
    }
}

.m-error{
    color: $clrP-pink;
    font-size: 0.6em;
    font-family: 'Nunito';
    letter-spacing: 0.3px;
    font-weight: 400;
    position: absolute;
    min-width: 280px;
    bottom: -15px;
}

.m-paragraph{
    font-size: 1em;
    font-family: 'Questrial';
    font-weight: 700;
    color: $clrP-black;
}

.m-mini-paragraph{
    font-family: 'Questrial';
    font-weight: 700;
    font-size: 0.75em;
}

.m-small{
    font-family: 'Questrial';
    font-size: 0.75em;
    font-style: italic;
    color: $clrP-darkGray;
}

.m-link-active{
    color: $clrP-black!important;
    position: relative;

    &::before{
        content: '';
        width: 85%;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 2px;
        margin: auto;
        background-color: $clrP-esmerald;
    }
}
