.container-item__row.minify-padding.fixed {
    padding: 14px 0;
    border-bottom: 1px solid darken($clrS-gray, 7%);
}

.container-item {
    width: 100%;
    min-height: 70px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    color: $clrP-black;
}

.container-item:not(:nth-last-child(1)) {
    border-bottom: 1px solid darken($clrS-gray, 7%);
}

.container-item__icon {
    width: 20%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    &__title {
        margin-right: 10px;
        font-family: 'Questrial';
        font-weight: 600;
        font-size: 18px;
        letter-spacing: 0.3px;
        justify-self: flex-start;
    }

    &__item {
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }

    &__item:nth-child(2) {
        align-items: flex-start;
    }
}
.container-item__icon.expense{
    width: 40%;
}

.container-item-info {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &__item {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: baseline;
        justify-content: center;

        &__title {
            width: 100%;
            font-family: 'Questrial';
            font-weight: 600;
            font-size: 1.1em;
            letter-spacing: 0.3px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;

            display: flex;
            flex-flow: row nowrap;
            flex: 1;
            justify-content: space-between;
        }

        &__value {
            font-family: 'Questrial';
            font-weight: 400;
            font-size: .7em;
            margin-left: 45px;
            letter-spacing: 0.3px;
            color: $clrP-gray;
        }
    }

    .centered-content {
        justify-content: center;
        align-items: center;
    }
}
.container-item-info.expense {
    width: 35%;
}

.container-item-status {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__title {
        font-family: 'Questrial';
        font-weight: 600;
        font-size: 1.1em;
        letter-spacing: 0.3px;
        margin: auto;
    }

    &__value {
        font-family: 'Questrial';
        font-weight: 400;
        font-size: 1em;
        letter-spacing: 0.5px;
        padding: 7px 0px;
        min-width: 78px;
        text-align: center;
    }

    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row nowrap;
    }
}

.container-item-value {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__title {
        font-family: 'Questrial';
        font-weight: 600;
        font-size: 1.1em;
        letter-spacing: 0.3px;
        margin: auto;
    }

    &__value {
        font-family: 'Questrial';
        font-weight: 400;
        font-size: 0.77em;
        margin-left: 8px;
        justify-self: flex-end;
        letter-spacing: 0.5px;
        color: $clrP-gray;
    }

    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row nowrap;
    }
}

.container-item-actions {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 35px;

    &--column {
        width: auto;
        height: 100%;
        margin: 5px;
        display: flex;
        flex-direction: row;
        font-size: 1.2em;
        color: $clrP-black;

        svg {
            cursor: pointer;
            transition: all 100ms ease-in;

            &:hover {
                transform: scale(1.3);
            }
        }
    }

    &__title {
        font-family: 'Questrial';
        font-weight: 600;
        font-size: 1.1em;
        letter-spacing: 0.3px;
        text-align: center;
    }
}
.container-item-actions.expense{
    width: 25%;
}

.priority-high {
    background-color: #E9F8F3;
    color: #70CEAA;
    border-radius: 8px;
    border: 1px solid rgba(#70CEAA, .55
    );
}

.priority-medium {
    background-color: #FFF4D6;
    color: #F9D552;
    border-radius: 8px;
    border: 1px solid rgba(#FFDA56, .4);
}

.priority-lower {
    background-color: #FBE9E9;
    color: #CE8470;
    border-radius: 8px;
    border: 1px solid rgba(#E15A5A, .4);
}

.priority-checked {
    background-color: #8FD9B7;
    color: #545454;
    border-radius: 8px;
    border: 1px solid #4CB995;
}

.modal {
    &__body {
        &>.container-modal__summary {
            height: 80%;
            overflow: auto;
            padding: 0;
            flex-flow: row wrap;
            justify-content: space-around;

            .container-item__column {
                width: auto;
            }
        }

        .container-item__column.container-item__col-row {
            justify-content: space-around;
            padding: 0px 85px;
        }

        .container-item__row:not(::nth-last-child(1)) {
            border-bottom: 1px solid #cccccc;
        }

        .card-status {
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-between;
            padding: 15px 25px;
            color: $clrP-black !important;

            max-height: 135px;
            min-height: 135px;
            max-width: 287px;
            min-width: 287px;

            .container-item__row,
            .container-item__column {
                padding: 0;
                margin: 0;
            }
        }
    }
}

.m-card-body.max-height-card.relative{
    scroll-behavior: smooth;
}
.table-body{
    overflow: hidden;
}