.generic-report-container{
    .m-card .m-card-header{
        & .container-item__row:nth-last-child(1){
            .container-item__column{
                padding: 10px 0;
                color: $clrP-white;
                font-size: "1.2em";
                font-family: "Nunito";
                font-weight: bold;
                align-items: center;
                width: 100%;
                background-color: $clrP-azure;
                cursor: pointer;
            }
            .container-item__column:not(:nth-child(1)){
                border-left: 1.5px solid $clrP-white;
            }
        }
    }
    .m-card .m-card-body .container-item__row:nth-child(1) .container-item__column{
        & > div{    
            min-height: 360px;
            width: 100%;
        }
    } 

    .active-link{
        background-color: lighten($clrP-azure, 7.5%) !important;
    }
}