.form-container.login{
    .m-card__section:nth-child(1){
        background-color: $clrP-azure;
        color: $clrP-white;
        max-width: 400px;
        border-radius: 8px 0 0 8px;
        z-index: 2;
        .m-title-big{
            font-size: 40px;
            font-family: 'Nunito';
        }
        .form__title{
            margin-top: 18px;
        }
        .container-item__row:nth-child(2){
            border-bottom: 2px solid $clrP-white;
        }
        .container-item__row{
            padding: 12px 0px;
        }
    }
    .m-card__section:nth-child(2){
        border-radius: 0 8px 8px 0;
        height: 100%;

        .container-item__row:nth-last-child(1){
            justify-content: space-between;
            bottom: 15px;
        }
    }
}