/* ----------------------- NUNITO -----------------------*/

@font-face {
    font-family: 'nunito-regular';
    src: local('nunito-regular'),
         url('./Nunito/Nunito-Bold.ttf') format('truetype'),
}
@font-face {
    font-family: 'nunito-semibold';
    src: './Nunito-SemiBold.ttf'
}
@font-face {
    font-family: 'nunito-bold';
    src: './Nunito-Bold.ttf'
}
@font-face {
    font-family: 'nunito-extrabold';
    src: './Nunito-ExtraBold.ttf'
}