$white: #fff;
$blue: #2083FE;
$mid-dark-gray: #dcdcdc;
.radio-label{
    cursor: pointer;
    font-family: 'Questrial';
}
.radio-button {
  input[type="radio"] {
    position: absolute;
    opacity: 0;
    + .radio-label {
      &:before {
        content: '';
        background: $white;
        border-radius: 100%;
        border: 1px solid $mid-dark-gray;
        display: inline-block;
        width: 1em;
        height: 1em;
        position: relative;
        margin-right: .5em; 
        vertical-align: middle;
        margin-top: -.3em;
        cursor: pointer;
        text-align: center;
        transition: all .3s ease;
      }
    }
    &:checked {
      + .radio-label {
        &:before {
          background-color: $blue;
          box-shadow: inset 0 0 0 3px $white;
        }
      }
    }
    &:focus {
      + .radio-label {
        &:before {
          outline: none;
          border-color: $blue;
        }
      }
    }
    &:disabled {
      + .radio-label {
        &:before {
          box-shadow: inset 0 0 0 4px $white;
          border-color: $mid-dark-gray;
          background: $mid-dark-gray;
        }
      }
    }
    + .radio-label {
      &:empty {
        &:before {
          margin-right: 0;
        }
      }
    }
  }
}