.radio-label{
    cursor: pointer;
    font-family: 'Questrial';
}
.radio-button {
  input[type="radio"] {
    position: absolute;
    opacity: 0;
    + .radio-label {
      &:before {
        content: '';
        background: $clrP-white;
        border-radius: 100%;
        border: 1px solid #cccc;
        display: inline-block;
        width: 1em;
        height: 1em;
        position: relative;
        margin-right: .5em; 
        vertical-align: middle;
        margin-top: -.3em;
        cursor: pointer;
        text-align: center;
        transition: all .3s ease;
      }
    }
    &:checked {
      + .radio-label {
        &:before {
          background-color: $clrS-blue;
          box-shadow: inset 0 0 0 3px $clrP-white;
        }
      }
    }
    &:focus {
      + .radio-label {
        &:before {
          outline: none;
          border-color: $clrS-blue;
        }
      }
    }
    &:disabled {
      + .radio-label {
        &:before {
          box-shadow: inset 0 0 0 4px $clrP-white;
          border-color: #cccc;
          background: #cccc;
        }
      }
    }
    + .radio-label {
      &:empty {
        &:before {
          margin-right: 0;
        }
      }
    }
  }
}